<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <h1>Please Confirm</h1>

        <div class="form-group">
            <label>Firstname</label>

            <p class="form-control-static">{{ user.firstName }}</p>
        </div>
        <div class="form-group">
            <label>Lastname</label>

            <p class="form-control-static">{{ user.lastName }}</p>
        </div>
        <div class="form-group">
            <label>Email</label>

            <p class="form-control-static">{{ user.emailAddress }}</p>
        </div>
        <div class="form-group">
            <label>Subscribe</label>

            <p class="form-control-static" ng-show="user.subscribed">Yes</p>

            <p class="form-control-static" ng-show="!user.subscribed">No</p>
        </div>
        <div class="form-group">
            <label>DOB</label>

            <p class="form-control-static">{{ user.dob | date:'dd-MM-yyyy'}}</p>
        </div>
        <button type="button" class="btn btn-default" ng-click="back()">Back</button>
        <button type="button" class="btn btn-primary" ng-click="submitConfirm()">Confirm</button>

    </div>
</div>