<div class="row" ng-class="{ 'hidden' : form.state === 'confirmation'}">
    <div class="col-md-4 col-md-offset-4">
        <h1>Registration</h1>
        <form name="registrationForm" ng-submit="askConfirmation(registrationForm.$valid)" method="post" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.firstname.$invalid && !registrationForm.firstname.$pristine }">
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Firstname" required ng-model="user.firstName" ng-minlength="3" ng-maxlength="20">

                <p ng-show="registrationForm.firstname.$invalid && !registrationForm.firstname.$pristine && !(registrationForm.firstname.$error.minlength || registrationForm.firstname.$error.maxlength)" class="help-block">Please input your firstname.</p>
                <p ng-show="registrationForm.firstname.$error.minlength" class="help-block">Min 3 chars.</p>
                <p ng-show="registrationForm.firstname.$error.maxlength" class="help-block">Max 20 chars.</p>

            </div>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.lastname.$invalid && !registrationForm.lastname.$pristine }">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Lastname" required ng-model="user.lastName" ng-minlength="3" ng-maxlength="20">

                <p ng-show="registrationForm.lastname.$invalid && !registrationForm.lastname.$pristine && !(registrationForm.lastname.$error.minlength || registrationForm.lastname.$error.maxlength)" class="help-block">Please input your lastname.</p>
                <p ng-show="registrationForm.lastname.$error.minlength" class="help-block">Min 3 chars.</p>
                <p ng-show="registrationForm.lastname.$error.maxlength" class="help-block">Max 20 chars.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine }">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required ng-model="user.emailAddress">
                <p ng-show="(registrationForm.email.$invalid && !registrationForm.email.$pristine) || registrationForm.email.$error.email" class="help-block">Please input email.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="user.subscribed"> Subscribe
                </label>
            </div>
            <div class="form-group">
                <label for="dob">DOB</label>
                <input class="form-control" name="dob" id="dob" ng-model="user.dob" ui-date="dateOptions" ui-date-format="yy-mm-dd">
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="registrationForm.$invalid">Submit</button>
        </form>

    </div>
</div>
<div ui-view></div>